<div class="basicInfo">

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :name %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
    </div>
    <div class="control-label col-sm-2">
      <%= f.label :virtue %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :virtue, class: "form-control", placeholder: "Virtue", autofocus: true %>
    </div>
    <div class="control-label col-sm-2">
      <%= f.label :chronicle %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :chronicle, class: "form-control", placeholder: "Chronicle", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :age %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :age, class: "form-control", placeholder: "Age", autofocus: true %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :vice %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :vice, class: "form-control", placeholder: "Vice", autofocus: true %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :faction %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :faction, class: "form-control", placeholder: "Faction", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :player %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :player, class: "form-control", placeholder: "Player", autofocus: true %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :concept %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :concept, class: "form-control", placeholder: "Concept", autofocus: true %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :groupName %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :groupName, class: "form-control", placeholder: "Group Name", autofocus: true %>
      </div>
    </div>

</div>